<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harma</title>
    <!-- Gfont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=REM:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__brand">
            <img src="./images/brand-logo.png" alt="Harma Logo">
        </div>
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Fasilitas</a></li>
                <li><a href="#">Info Kegiatan</a></li>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent">
        <section class="hero">
            <img src="./images/jumbotron-img.jpg" alt="Hero Image">
        </section>

        <section class="moto">
            <h2>MOTO</h2>
            <div class="moto-grid">
                <div class="moto-item"></div>
                <div class="moto-item"></div>
                <div class="moto-item"></div>
                <div class="moto-item"></div>
            </div>
        </section>

        <section class="fasilitas">
            <div class="title">
                <h2>FASILITAS</h2>
                <div class="btn-fasilitas">
                    <a href="#">Lihat Semua Fasilitas</a>
                </div>
            </div>
            <div class="wrapper-fasilitas">
                <div class="list-fasilitas">
                    <div class="content-fasilitas">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsam.</p>
                    </div>
                    <div class="content-fasilitas">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsam.</p>
                    </div>
                    <div class="content-fasilitas">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ipsam.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="galeri">
            <div class="title">
                <h2>GALERI TERKINI</h2>
            </div>
            <div class="wrapper-galeri">
                <div class="list-galeri">
                    <div class="content-galeri">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <span>17 Januari 2023</span>
                    </div>
                    <div class="content-galeri">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <span>17 Januari 2023</span>
                    </div>
                    <div class="content-galeri">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <span>17 Januari 2023</span>
                    </div>
                    <div class="content-galeri">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <span>17 Januari 2023</span>
                    </div>
                    <div class="content-galeri">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <span>17 Januari 2023</span>
                    </div>
                    <div class="content-galeri">
                        <img src="" alt="">
                        <h2>Mushola Nurul AL-Lorem</h2>
                        <span>17 Januari 2023</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="kegiatan">
            <div class="title">
                <h2>JADWAL KEGIATAN RT/RW 003/005</h2>
            </div>
            <div class="wrapper-kegiatan">
                <div class="content-kegiatan">
                    <div class="title-kegiatan">
                        <div class="waktu">
                            <span class="tanggal">02 Juni</span>
                            <span class="jam">08:00 s/d 09:00</span>
                        </div>
                        <div class="title">
                            <h2>Kegiatan Kerja Bakti Bulanan, Membersihkan Saluran Air</h2>
                        </div>
                    </div>
                    <div class="detail-kegiatan">
                        <div class="detail">
                            <h2>Detail</h2>
                            <div class="body">
                                <h2>Daftar warga yang bertugas</h2>
                                <ul>
                                    <li>Bpk. Abdul Somad</li>
                                    <li>Bpk. Maman</li>
                                    <li>Bpk. Rohman</li>
                                    <li>Bpk. H. Imran</li>
                                </ul>
                            </div>
                        </div>
                        <div class="waktu">
                            <h2>Waktu</h2>
                            <div class="body">
                                <span>Sabtu 22.00 pm s/d 05.00 pm</span>
                            </div>
                        </div>
                        <div class="tempat">
                            <h2>Tempat</h2>
                            <div class="body">
                                <span>Pos Jayabaya RT 003</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="penduduk">
            <div class="title">
                <h2>JUMLAH PENDUDUK KAMPUNG SERUT</h2>
            </div>
            <div class="wrapper-penduduk">
                <div class="content-penduduk">
                    <div class="item-penduduk">
                        <img src="" alt="">
                        <h2>Total Penduduk 1.500 Jiwa</h2>
                    </div>
                    <div class="item-penduduk">
                        <img src="" alt="">
                        <h2>Kepala Keluarga 550 Jiwa</h2>
                    </div>
                    <div class="item-penduduk">
                        <img src="" alt="">
                        <h2>Perempuan 660 Jiwa</h2>
                    </div>
                    <div class="item-penduduk">
                        <img src="" alt="">
                        <h2>Laki-Laki 840 Jiwa</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="wrapper-footer">
            <div class="logo-footer">
                <img src="./images/brand-logo.png" alt="Harma Logo">
            </div>
            <div class="content-footer">
                <div class="description-footer">
                    <h2>Apa itu HARMA?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae cumque nobis deserunt possimus totam, illo veniam? Aut doloremque earum suscipit numquam corporis eius, facilis repellendus, qui quo accusantium vel!</p>
                </div>
                <div class="info-footer">
                    <div class="link-cepat">
                        <h2>Link Cepat</h2>
                        <a href="#">Beranda</a>
                        <a href="#">Fasilitas</a>
                        <a href="#">Info Terkini</a>
                        <a href="#">Tentang Kami</a>
                    </div>
                    <div class="tentang-kami">
                        <h2>Tentang Kami</h2>
                        <div class="detail-tentang-kami">
                            <p>Project Capstone SIB Dicoding Cycle 6</p>
                            <p>ID: C624-P5050</p>
                        </div>
                        <div class="sosial-media">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kontak-footer">
                        <h2>Kontak Kami</h2>
                        <p>Alamat: Jln. Maman Abdul No. 1223</p>
                        <p>Email: harma@gmail.com</p>
                        Telp: (021) 2230-8090
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-footer">
            <p>Copyright &copy; 2024 HARMA</p>
        </div>
    </footer>
</body>
</html>
