@media screen and (min-width: 810px) {
      .app-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .app-bar .app-bar__menu {
        display: none;
      }
    
      .app-bar .app-bar__navigation {
        position: static;
        width: auto;
      }
    
      .app-bar .app-bar__navigation ul {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
      }
    
      .app-bar .app-bar__navigation ul li {
        list-style: none;
        padding: 6px;
      }
    
      .app-bar .app-bar__navigation ul li a {
        text-decoration: none;
        color: black;
        padding: 8px 12px;
        border-radius: 5px;
      }
  
  }