@media screen and (min-width: 650px) {
    .app-bar__menu {
        display: none;
    }
  
    .app-bar__navigation {
        display: block;
    }
  
    .app-bar__navigation ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
    }
  
    .app-bar__navigation ul li {
        padding: 0;
    }
  
    .app-bar__navigation ul li a {
        background-color: transparent;
        color: #2A6478;
    }
  
    .app-bar__navigation ul li a.login {
        background-color: #2A6478;
        color: #FFFFFF;
        padding: 8px 16px;
        border-radius: 4px;
    }
  }